<!-- BLOQUE PADRE -->
{% extends 'core/base_1.html' %}

<!-- BLOQUE CARGA STATIC -->
{% load static %}

<!-- BLOQUE PARA CONTENIDO css -->
{% block css%} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
{% endblock %}

<!-- BLOQUE PARA CONTENIDO JS -->
{% block js%} {% endblock %} {% block contenido %} {% load crispy_forms_tags %}
<!--INICIO: TERCERA barra -->
<nav class="navbar navbar-expand-lg navbar-light ftco_navbar bg-light ftco-navbar-light p-3" id="ftco-navbar">
    <div class="container mt-2 align-content-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span> Menu
        </button>

        <form action="#" class="searchform order-lg-last mt-3">
            <div class="form-group d-flex">
                <!-- <input type="text" class="form-control pl-3" placeholder="Search">
                <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button> -->
                <p class="mb-1">Llamanos ahora: <br><i class="icon ion-ios-telephone colorNaranja py-1 px-2 mx-2 text-light" width="25px"></i><span class="font-weight-mid pt-1">+569 1234 5478</span></p>
            </div>
        </form>

        <div class="collapse navbar-collapse h5" id="ftco-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-2"><a href="{% url 'index' %}" class="nav-link text-dark">Home</a></li>
                <li class="nav-item mx-2"><a href="{% url 'nosotros' %}" class="nav-link text-dark">Nosotros</a></li>
                <li class="nav-item mx-2"><a href="{% url 'galeria' %}" class="nav-link text-dark">Galeria</a></li>
                <li class="nav-item mx-2"><a href="{% url 'adopcion_mascota' %}" class="nav-link text-dark">Adopción</a></li>
                <li class="nav-item mx-2"><a href="{% url 'tiendafor' %}" class="nav-link text-dark">Tienda</a></li>
                <li class="nav-item mx-2"><a href="{% url 'contacto1' %}" class="nav-link text-dark">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--FIN: TERCERA barra -->

<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
    <div class="container">
        <ol class="breadcrumb justify-content-center h4">
            <!-- <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li> -->
            <li class="breadcrumb-item active" aria-current="page">¿Como está el clima?</li>
        </ol>
    </div>
</nav>

<section class="section p-1 mb-2 mt-2">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-md-12 col-sm-12 bg-dark my-1 mx-4 box rounded text-light  style="font-size: 18px">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12 field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="control justify-content-center text-center">
                                <button type="submit" class="button colorNaranja text-light text-center">
                                    Agregar
                                </button>
                            </div>
                        </div>
                    </div>

                    {% if message %}
                    <div class="notification mt-2 {{ message_class }}">{{ message }}</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</section>
    {% load humanize %}
<section class="section p-1 mb-2">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-md-12 col-sm-12 bg-dark my-1 mx-4 box rounded offset-md-3">
                {% for city_weather in weather_data %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image" >
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title">{{ city_weather.city }}</span>
                                    <br>
                                    <span class="subtitle">{{ city_weather.temperature }} °C</span>
                                    <br> {{ city_weather.description | capfirst }}
                                </p>
                            </div>
                        </div>
                        <div class="media-right">
                            <a href="{% url 'delete_city' city_weather.city %}">
                                <button class="delete"></button>
                            </a>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


{% endblock %}